html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 23, 41);
}

#container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 700px; /* Adjust as needed */
    border: 2px solid #ffffff;
    padding: 5px;
}

.cell {
    border: 1px solid #8eebf9;
    box-sizing: border-box;
}

#reset-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0 ;
}

#reset {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    padding: 3px 5px;
}